## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [19]:
app_train = pd.read_csv('C:/Users/user/Desktop/Part01/application_train.csv')
app_train.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [21]:
app_train.shape # (row-count, column-count)

(307511, 122)

#### 列出所有欄位

In [25]:
app_train.columns
app_train.index

RangeIndex(start=0, stop=307511, step=1)

#### 截取部分資料

In [40]:
app_trainpart=app_train[['SK_ID_CURR','TARGET']]
app_trainpart
app_trainpart2=app_train[:100]
app_trainpart2
a= app_train.groupby(by="AMT_INCOME_TOTAL").sum()
app_train.sort_values('AMT_CREDIT',ascending=False)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
133766,255139,0,Cash loans,F,Y,N,1,1307587.5,4050000.0,100197.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
14852,117337,0,Cash loans,M,N,Y,1,760846.5,4050000.0,146002.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
119681,238782,0,Cash loans,M,Y,Y,1,931365.0,4050000.0,102514.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
120757,240007,0,Cash loans,M,N,N,0,587250.0,4050000.0,106969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
288455,434170,0,Cash loans,F,Y,N,1,450000.0,4050000.0,106839.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
110459,228135,0,Cash loans,M,N,N,2,864900.0,4050000.0,102384.0,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,0.0
287732,433294,0,Cash loans,F,Y,N,1,405000.0,4050000.0,102514.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17948,120926,0,Cash loans,M,Y,N,2,783000.0,4050000.0,258025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
95571,210956,0,Cash loans,M,N,Y,0,430650.0,4031032.5,102033.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
186230,315893,1,Cash loans,F,N,N,0,458550.0,4027680.0,106380.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14643,117085,0,Cash loans,F,Y,N,2,749331.0,3956274.0,197230.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
119380,238431,0,Cash loans,F,Y,N,0,292050.0,3860019.0,97578.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
104577,221360,0,Cash loans,M,Y,N,0,468000.0,3600000.0,91138.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
53936,162494,0,Cash loans,M,Y,N,0,900450.0,3600000.0,91008.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
184460,313808,0,Cash loans,M,Y,N,1,391972.5,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
279961,424374,0,Cash loans,M,Y,Y,2,225000.0,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
206594,339462,0,Cash loans,M,N,N,1,394501.5,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
250837,390234,0,Cash loans,M,Y,N,1,1053333.0,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
286205,431470,0,Cash loans,F,Y,Y,1,621000.0,3312162.0,135031.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
170935,298097,0,Cash loans,M,Y,Y,1,1575000.0,3299688.0,170986.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
161197,286869,0,Cash loans,M,Y,N,0,282073.5,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
285733,430924,0,Cash loans,F,Y,N,0,495634.5,3150000.0,77931.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
98646,214538,0,Cash loans,F,N,N,0,405000.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
164982,291254,0,Cash loans,M,N,N,0,431478.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
239197,377037,0,Cash loans,F,Y,N,0,436500.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
180450,309128,0,Cash loans,F,Y,N,0,303750.0,3150000.0,113557.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
32099,137220,0,Cash loans,M,Y,N,1,337500.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
122681,242239,0,Cash loans,M,N,N,1,727870.5,3150000.0,156933.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
153358,277759,0,Cash loans,M,Y,Y,0,351891.0,3150000.0,113557.5,...,1,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
155169,279870,0,Cash loans,M,N,N,1,313200.0,3075579.0,111001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289790,435729,0,Cash loans,F,N,N,0,90000.0,45000.0,5337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
246609,385403,0,Cash loans,M,Y,N,0,90000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
148207,271844,0,Cash loans,F,N,Y,0,90000.0,45000.0,5467.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
227195,363161,0,Cash loans,F,N,N,0,36000.0,45000.0,2164.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
241672,379831,0,Cash loans,F,N,Y,0,67500.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
264346,406141,0,Cash loans,F,Y,N,0,112500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
264442,406250,0,Cash loans,F,Y,N,0,94500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,5.0
74159,186001,0,Cash loans,F,N,Y,0,67500.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
226965,362901,0,Cash loans,F,N,N,0,67500.0,45000.0,4207.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
146858,270264,0,Cash loans,M,N,Y,0,135000.0,45000.0,4513.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
85421,199116,0,Cash loans,F,N,Y,0,54000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
121470,240823,0,Cash loans,M,N,N,0,247500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
78554,191066,0,Cash loans,F,N,Y,0,54000.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
3055,103566,0,Cash loans,F,N,N,0,36000.0,45000.0,4581.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
234628,371788,0,Cash loans,M,Y,Y,0,54000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
191256,321755,0,Cash loans,F,N,Y,1,126000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
40231,146605,0,Cash loans,F,N,Y,0,81000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
73949,185760,0,Cash loans,F,N,N,0,135000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
129799,250552,0,Cash loans,F,Y,Y,0,76500.0,45000.0,4338.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13378,115599,0,Cash loans,F,N,Y,1,90000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
228024,364118,0,Cash loans,F,N,Y,0,29250.0,45000.0,4855.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
195792,327032,0,Cash loans,M,N,Y,0,180000.0,45000.0,4855.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
276265,420124,0,Cash loans,F,N,Y,0,90000.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
303878,452075,0,Cash loans,F,N,Y,0,67500.0,45000.0,4905.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
283232,428027,0,Cash loans,F,N,Y,0,54000.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
75227,187243,0,Cash loans,F,Y,Y,0,315000.0,45000.0,2749.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
246541,385333,0,Cash loans,F,N,Y,0,67500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
151516,275629,0,Cash loans,M,N,N,0,54000.0,45000.0,4846.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
271384,414615,0,Cash loans,M,N,N,0,112500.0,45000.0,3006.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
254627,394647,0,Cash loans,F,N,Y,0,135000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子